# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Packages
      run: npm i;
    - name: Build Project
      run: echo "build";
    - name: Login to Monaca
      run: env; echo $MONACA_PASSWORD | npx monaca login $MONACA_EMAIL
      env:
          MONACA_PASSWORD: ${{ secrets.MONACA_PASSWORD }}
          MONACA_EMAIL: ${{ secrets.MONACA_EMAIL }}
    - name: Upload to Monaca Cloud
      run: npx monaca upload --force
    - name: Build in Monaca Cloud
      run: filename="$(date '+%d-%m-%y-%H:%M:%S')".apk; npx monaca remote build android --skipUpload --output "./$filename";
    - uses: actions/upload-artifact@v2
      with:
        name: $filename
        path: $filename
        if-no-files-found: error
